.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px 0;
  text-transform: uppercase;
  .wrapper {
    .navigation {
      .list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .item {
          list-style: none;
          text-decoration: none;
          a {
            font-size: 20px;
            font-weight: 600;
            color: black;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
          .active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
